.info_card_image {
  align-self: center;
  margin-top: 10px;
}

.card-container {
  display: block;
  align-content: center;
}

.card {
  border: none;
  float: left;
  width: 33.3%;
  padding-bottom: 5%;
}

.card-text {
  text-align: center;
}

.cardPriceText {
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

.cardTitleText {
  text-align: center;
  font-weight: bold;
  font-size: 110%;
  padding-top: 1rem;
}

.imageSize {
  width: 100%;
  align-self: center;
}

.category-cart-icon {
  padding-left: 5%;
}

.btn {
  border-radius: 5;
}
