.shoppingcart-table {
  margin-top: 2%;
  background-color: white;
}

.shoppingcart-container {
}

.shoppingcart-title {
  margin-top: 5%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
