@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.cart-icon {
  margin-right: 5%;
}

.navbar-container {
  margin-left: 2%;
  margin-top: 2%;
  text-align: center;
}

.me-auto {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-left: 30%;
  display: flex;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0 10px;
}

.nav-link:after {
  content: "";
  position: absolute;
  background-color: rgb(166, 218, 166);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover:after {
  width: 100%;
}

.game-start-logo {
  width: 100%;
}
