@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap%22");

.categoryFont{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 2%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-left: 10px;
 }
