@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap%22");


.signup-container{
    margin-top: 3%;
    width: 40%;
    font-family: "Montserrat", sans-serif;
    padding: 3%;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 5px;
}

.signup-label {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 5%;
    text-align: center;
}

.submit-button{
    margin: 0 auto;
    display: block;
}

.error {
    color: red;
    padding: 2%;
}

